:root{
    --oq: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #02889B;
}

.container{
    max-width: 961px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav_list{
    display: flex;
    gap: 30px;
    align-items: center;

    a{
        font-size: 18px;
        font-weight: 500;
        color: var(--oq);
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;

}

.logo a img{
    width: 188px;
}


.btn{
    font-weight: 700;
    font-size: 16px;
    color: var(--oq);

    padding: 17px 35px;
    border-radius: 30px;
    /* background: #FF693A; */
    border: 3px solid #FF693A;
    transition: 0.5s;
    
    &:hover{
        box-shadow: 0 0 10px 10px #FF693A;
        text-shadow: 0 0 10px white;
    }
}