@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Nunito Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #02889B;
}

:root{
    --oq: #FFFFFF;
    --qora: #0000006c;
}


.container{
    max-width: 961px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav_list{
    display: flex;
    gap: 30px;
    align-items: center;

    a{
        font-size: 18px;
        font-weight: 500;
        color: var(--oq);
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;

}

.logo a img{
    width: 188px;
}


.btn{
    font-weight: 700;
    font-size: 16px;
    color: var(--oq);

    padding: 17px 35px;
    border-radius: 30px;
    /* background: #FF693A; */
    border: 3px solid #FF693A;
    transition: 0.5s;
    
    &:hover{
        box-shadow: 0 0 10px 10px #FF693A;
        text-shadow: 0 0 10px white;
    }
}

/* HEADER */

.header_info_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div11{
    max-width: 541px;
    width: 100%;
    color: var(--oq);

    h1{
        font-size: 60px;
        font-weight: 900;
    }

    p{
        font-size: 25px;
    }
}

.div12{
    img{
        width: 347px;
        height: 387px;
    }
}

.scroll{
    width: 50px;
    height: 50px;
    background: var(--qora);
    color: var(--oq);
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    position: relative;
}

.scroll::after{
    content: "";
    position: absolute;
    bottom: 18%;
    left: 47%;
    width: 3px;
    height: 15px;
    background: var(--oq);
    transition: 0.5s;
}

.scroll:hover::after{
    bottom: 15%;
    left: 57%;
    width: 3px;
    height: 15px;
    transform: rotate(45deg);
}
.scroll::before{
    content: "";
    position: absolute;
    bottom: 18%;
    right: 47%;
    width: 3px;
    height: 15px;
    background: var(--oq);
    transition: 0.5s;
}
.scroll:hover::before{
    bottom: 15%;
    right: 57%;
    width: 3px;
    height: 15px;
    transform: rotate(-45deg);
}


/* MAIN */

.Category{
    h2{
        text-align: center;
        color: #fff;
        font-size: 60px;
        font-weight: 700;
    }

    .cards_sec{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        gap: 87px;
        margin-top: 55px;
        color: #fff;
        text-align: center;

        h3{
            font-size: 30px;
            font-weight: 600;
        }

        .img_cards1{
            margin-top: -60px;
        }
    }
}